.cart{
    position: sticky;
    top: 0;
    text-align: center;
}

.selected-item-cart{
    background-color: rgb(175, 174, 174);
    border-radius: 6px;
    margin: 6px;
    border: 1px solid black;
}

.btn1{
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.btn2{
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
}