.product{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 4px;
    position: relative;
}

.product img{
    width: 300px;
    height: 200px;
    border-radius: 6px;
}

.product-info{
    margin-left: 2%;
}

.btn-paragraph{
    color: white;
    margin-right: 5%;
}

.cart-btn{
    width: 100%;
    border: none;
    border-radius: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

/* .cart-btn :hover{
    background-color: black;
} */



